{% extends "main.html" %}
{% block content %}
<center><h1>UPLOAD AN IMAGE</h1></center>
<form action="{{ url_for('upload') }}" method="post" enctype="multipart/form-data">
<div class="mb-3">
    <label for="formFile" class="form-label">IMAGE</label>
    <input name="image" class="form-control" type="file" id="formFile" accept="image/*">
</div>
<div class="form-group">
    <label for="usr">Title</label>
    <input name='title' type="text" class="form-control" id="usr">
  </div>
  <p>-----------------------------</p>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}